name: Auto Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: 2121
          timeout: 60s
          command_timeout: 10m
          script_stop: true
          debug: true
          script: |
            whoami
            pwd
            cd /home/deploy/Project/TugasMJSCICD
            git status
            git pull origin main
