name: Auto Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: IP_PUBLIC_SERVER_KAMU
          username: deploy
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: 22
          script_stop: true
          debug: true
          script: |
            whoami
            hostname
            pwd
            cd /home/deploy/Project/TugasMJSCICD
            git pull origin main
